@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Black.ttf') format('ttf'),
      url('assets/fonts/Poppins/Poppins-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}