<div class="content-login-form">
  <div class="title-header">
    <img src="assets/images/icon.png" />
    <h2>CONSULTAS EXTERNAS</h2>
    <h4>Bienvenido de nuevo, por favor ingrese su correo/teléfono y pin para ver los rádicados. </h4>
  </div>
  <div class="form-input">
    <label for="email">Ingresa su correo o teléfono</label>
    <input type="text" name="email" placeholder="Correo@... ó 304..." />
  </div>
  <div class="form-input">
    <label for="pin">PIN</label>
    <input type="password" name="pin" placeholder="****" />
  </div>

  <button class="button button-primary form-button" routerLink="/home">Consultar estado</button>
  <div class="pin-forgoten">
    <a href="#">¿Olvidaste el PIN?</a>
  </div>
</div>